#p {
  background-color: rgb(53, 16, 153);
}
p {
  margin-top: 30px;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h4 {
  align-items: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  background-color: rgb(37, 170, 77);
  outline: none;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  font-size: 20px;
  height: 60px;
  width: 150px;
  border: 5px solid rgb(32, 129, 61);
}
ul {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
